/* Staticman Comments */

.post-comment {
  position: relative;
  margin-bottom: 3em;
  padding-left: 4.5em;
  font-size: .8em;
}

.post-comment-avatar {
  float: left;
  width: 3.25em;
  height: 3.25em;
  margin-right: .5em;
}

.post-comment-author {
  display: inline-block;
  margin: 0 0 .25em;
  font-size: 1.25em;
  line-height: 1;
}

.post-comment-author a {
  color: inherit;
  text-decoration: none;
}

.post-comment-timestamp {
  font-size: .8em;
}

.post-comment-timestamp a {
  color: inherit;
  text-decoration: none;
}

.post-comment-content {
  margin: 1.5em 0 0 3.75em;
}

.post-comment-content > figure,
.post-comment-content > ol,
.post-comment-content > p,
.post-comment-content > table,
.post-comment-content > ul {
  margin-bottom: 1.5em;
}

