/* Table */

table {
	text-align: center;
	width: 90%;
	margin: 1em auto;
	/*background-color: #fff;*/
	background-color: #191919;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px #3f3f3f;
	font-weight: bold;
}

table > thead {
	/*background-color: #ececec;*/
	background-color: #252525;
}

table > thead > tr,
table > tbody > tr,
table > tfoot > tr {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	vertical-align: middle;
	padding: 0.5em;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 0;
	/*border-bottom: 1px solid #e0e0e0;*/
	border-bottom: 1px solid #3f3f3f;
}

table > thead > tr > th,
table > thead > tr > td {
	text-align: center;
	border-bottom-width: 2px;
	font-weight: bold;
}

table > thead > tr > th:first-child,
table > thead > tr > td:first-child,
table > tbody > tr > td:first-child {
	/*border-right: 2px solid #e0e0e0;*/
	border-right: 2px solid #3f3f3f;
	font-weight: bold;
}

@media screen and (min-width: 715px) {

	table > tbody > tr:hover > td,
	table > tbody > tr:hover > th {
		background-color: RGBA(46, 186, 174, .3);
	}

	table > tbody > tr:nth-child(even) > td,
	table > tbody > tr:nth-child(even) > th {
		/*background-color: #f4f4f4;*/
		background-color: #252525;
	}
}

