<div class="performer" id="{{ .Get "name"}}">
  <div class="performer-base">
    <div class="performer-img disqualified">
      <img src="{{.Get "img" }}">
    </div>
    <div class="performer-items">
      <div class="performer-item performer-item-name">
        <!-- <div class="performer-icon"><i class="fa fa-user fa-fw"></i></div> -->
        <div class="performer-data performer-disqualified-name disqualified-data">No.{{.Get "number" }}　{{.Get "name" }}</div>
      </div>
      {{ if .Get "link" }}
      <div class="performer-item">
        <!-- <div class="performer-icon"><i class="fa fa-link fa-fw"></i></div> -->
        <div class="performer-data performer-url disqualified-data"><a href="{{.Get "link" }}" target="_blank">{{.Get "link_text" }}</a></div>
      </div>
      {{ end }}
      <div class="performer-item">
        <!-- <div class="performer-icon"><i class="fa fa-commenting fa-fw"></i></div> -->
        <div class="performer-data performer-comment disqualified-data">{{.Get "comment" | safeHTML }}</div>
      </div>
      <div class="performer-item">
        <!-- <div class="performer-icon"><i class="fa fa-commenting fa-fw"></i></div> -->
        <!-- <div class="performer-data performer-comment"><i class="fa fa-commenting fa-fw"></i> {{.Get "comment" | safeHTML }}</div> -->
        <div class="performer-data performer-reason">※{{.Get "reason" | safeHTML }}</div>
      </div>
    </div>
  </div>
  {{ if .Get "link" }}
  <div class="performer-info performer-links">
    <div class="performer-column-left">
    </div>
    <div class="performer-items">
      {{ if .Get "link3" }}
      <div class="performer-item">
        <div class="performer-icon"><i class="fa fa-link fa-fw"></i></div>
        <div class="performer-data performer-url"><a href="{{.Get "link3" }}" target="_blank">{{.Get "link3_text" }}</a></div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>




